.gallery {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin: 100px;
}
img {
  width: 360px;
  height: auto;
}
img:hover {
  transform: scale(1.05);
  transition: transform 250ms ease-in-out;
}
