.feedback-form input,
.feedback-form textarea {
  display: flex;
  flex-direction: column;
}
input.email,
textarea {
  width: 360px;
  height: 40px;
  border: 1px solid #808080;
  border-radius: 4px;
  padding: 8px;
  margin: 8px 0 16px 0;
}

label {
  color: #2e2f42;
}

button {
  width: 86px;
  height: 40px;
  background-color: #4e75ff;
  border: 1px solid #4e75ff;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
}

button:hover {
  background-color: #6c8cff;
}
